body{
    margin: 0;
    padding: 0;
    /* display: flex; */
    height: 100vh;
    /* align-items: center; */
    /* justify-content: center; */
}
.container{
    background-color: hsl(215, 30%, 15%);
    width: 375px;
    padding:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    /* box-sizing: border-box; */
    
}
header{
    align-self: self-start;
}
.container h1{
    color: hsl(0, 100%, 100%);
    margin-top:10px;
}
.container p{
    color: hsl(217, 12%, 63%);
}
.starimg{
    padding: 10px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 1rem;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.buttons button{
    background-color: hsl(213, 19%, 18%);;
    border: none;
    height:40px;
    width: 40px;
    border-radius:50%;
    color: hsl(217, 12%, 63%);
    font-weight: 700;
    padding: 0.5rem;
}  
#sub-btn{
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    background-color: hsl(25, 97%, 53%);
    font-weight: 700;
    letter-spacing: 2px;
}
#thank-you{
    background-color:hsl(215, 30%, 15%); 
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    inset:0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}
.tq{
    width:175px;
    align-self: center;
}
h2{
    color: white;
}
